<!-- <mat-tab-group>
  <mat-tab label="Home">
    
  </mat-tab>
  <mat-tab label="Academic Projects">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="About">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Apps">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group> -->
<div class="container">
  
  <div class="portfolio-title">
    <h1>Aashutosh Taikar</h1>
  </div>
  
  <nav mat-tab-nav-bar>
    <a mat-tab-link
    *ngFor="let navLink of navLinks"
    [routerLink]="navLink.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="navLink.active"
    (click)="onTabClick(navLink)">
   {{navLink.label}}
  </a>
  </nav>
  
</div>

<p>Activated Route Examples</p>

<router-outlet></router-outlet>
